<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="SystemUtilTest">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
	<logging>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
	</logging>
    <filter>
       <blacklist>
            <directory suffix=".php">./vendor</directory>
       </blacklist>
    </filter>

</phpunit>